html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 2px;
}

#map-canvas {
    height: 100%;
    width: 78%;
    float: left;
    border: 1px solid #996699;
    border-radius: 5px;
}

#floating-panel {
    position: float top;
    z-index: 5;
    background-color: #9999cc;
    padding: 5px;
    border: 1px solid #996699;
    border-radius: 5px;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#output {
    float: left;
    height: 100%;
}
