{% extends 'base.html.twig' %}

{% block title %}Edit Course{% endblock %}

{% block body %}
    <h1>Editer Course</h1>

    {{ include('/administrator/course/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a class="btn btn-primary" href="{{ path('course_index') }}">retour à la liste</a>

    {{ include('/administrator/course/_delete_form.html.twig') }}
{% endblock %}
