{% extends 'base.html.twig' %}

{% block title %}Hello StripeController!{% endblock %}

{% block body %}
    <h1>erreur de paiement</h1>
    <button id="checkout-button">Acheter</button>
{% endblock %}
