{% extends 'base.html.twig' %}

{% block title %}Paiement accepté{% endblock %}
{% block meta_description %}Cardoso VTC votre chauffeur privée dur Frontignan{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <section class="section-reservation">
        <div class="parallax-effect">
            <div class="container text-center">
                <div class="row">
                    <h1 class="H1-head">Merci de votre réservation</h1>
                    <p class="P-head">Votre réservation a bien été prise en compte. Nous allons vous recontacter
                        rapidement par téléphone.</p>
                    <div class="text-center mb-3">
                        <a href="{{ asset('/') }}" type="button" class="button btn btn-outline-light">Retour à
                            l'accueil</a>
                        <a href="tel:0624512297" type="button" class="button2 btn btn-danger ms-3">06 24 51 22 97</a>
                        <a href="{{ path('pdf_id', {unique_id: client.uniqueId}) }}" class="button2 btn btn-danger ms-3" target="_blank">Télécharger votre facture</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
